<!--prepare profile page for user-->

<div class="container-fluid">
    <header>
      <h1><strong>User profile page is under construction</strong></h1>
    </header>
    <main>
      <div class="row">
        <div class="col-xs-10 intro">
          <h2>SO DEADLINE</h2>
          <h2>MUCH NOOBZ</h2>
          <P>But seriously, I should look into creating moar for this project, like:</P>
          <ul>
            <li>Facebook sign-in (in addition to local sign-in)</li>
            <li>Consider using address for user DB property - delivery address/user profiles?</li>
            <li>E-commerce API (e.g. Stripe)</li>
            <li>More views e.g: Summary page after e-payment</li>
            <li>A little more visuals</li>
          </ul>
        </div>
      </div>
    </main>
    <hr />
</div>
