.thumbnail img {
    max-height: 150px;
}

#picture{
  height: 300px;
  width: 300px;
}

.thumbnail .description {
    color: black;
  }

.price {
    font-weight: bold;
    font-size: 16px;
}

.navbar_header .navbar_brand{
  font-weight: bold;
}

.navbar-default{
  height: 90px;
  background-color: rgba(43, 157, 238, 1);
  padding-top: 20px;
}

.navbar-brand{
  font-family: "sans serif";
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-style: italic;
}
